body {
    background-color: whitesmoke;
}
 
h1 {
    color: whitesmoke;
    font-size: 150px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.heading {
    background-color: black;
    padding: 10px;
    
}

.recipes {
    background-color: black;
    margin: 10px 0;
    padding: 125px 50px;
    text-align: center;
}

li {
    text-align: center;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: beige;
}

img {
    width: 500px;
    height: auto;
    margin: 10px;
}

.box {
    display: inline-block;
}

.box a {
    display: block;
}

.ranch img {
    height: 500px;
}