body {
    background-color: whitesmoke;
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2, h3, h4 {
    text-align: center;
}